/*  General Selectors */
body
{
    background-color: gray;
}

p
{
    color: black;
}

/*  Class Selectors (.) */


/*  ID Selectors (#)   */
#main
{
    padding: 0px 20px 0px 20px;
}

#title
{
    /*border: 3px solid black;*/
    text-align: center;
}

#title p
{
    font-size: 15px;
}

#title h3
{
    font-size: 30px;
    color: black;
    
}

#img-div
{
    position: relative;
    /*border: 3px solid red;*/
    background-color: white;
    height: 500px;   
}

#image
{
    margin: 0px auto 0px auto;
    padding-top: 10px;
    /*border: 3px solid yellow;*/
    height: 400px;
    display: block;
    max-width: 100%;
    
}

#img-caption
{
    text-align: center;
    margin-bottom: 10px;
}

#tribute-timeline-list
{
    text-align: center;
    /*border: 3px solid black;*/
}

#tribute-info li
{
    color: black;
    margin: 15px 0px 0px 0px;
}

#tribute-info h3
{
    text-align: center;
}

#tribute-info p
{
    text-align: center;
    margin-top: 20px;
}



/*  Pseudo-Class Selectors  */
